.container {
  max-width: 1244px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.SNScontainer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.SNSImage1 {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.SNSImage2 {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}



.backToHome {
  margin: 3rem 0 0;
}